/k-Panel/k-Left/v-CurFile
/k-Panel/k-Left/v-Focus 
/k-Panel/k-Left/v-Folder
/k-Panel/k-Left/v-Visible
/k-Panel/k-Right/v-CurFile
/k-Panel/k-Right/v-Focus
/k-Panel/k-Right/v-Folder
/k-Panel/k-Right/v-Visible
/k-PluginsCache
/k-SavedDialogHistory
/k-SavedFolderHistory
/k-SavedHistory
/k-SavedViewHistory
/k-Viewer/k-LastPositions
/k-Editor/k-LastPositions
/k-Editor/v-SearchSelFound 
/k-FolderShortcuts